{
  "SaveName": "Kings_World",
  "WorldName": "992418",
  "GameModeIdx": 0,
  "GameVersion": 1018000,
  "IsHost": true,
  "HostID": 503619186,
  "GameType": 9,
  "LanGameStartServerTime": 1706273489,
  "RoomName": "Kings_World",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "3739",
  "Structures": true,
  "LastPlayTime": 1706374639,
  "TotalPlayTime": 27561,
  "UpdateTime": 1706364679,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": true,
  "GamePath": "G:\\MCLDownload\\Game\\zouxiaotao886@163.com\\LanGameHost\\Kings_World",
  "GUID": "LanGame-60e8c149-50df-4c43-bbcc-ff3d33a3c7cf",
  "WorldId": null,
  "RecentRoleID": "4656337243671408383",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "RoleList": [
    {
      "avt": false,
      "Name": "Water_King",
      "CreatedTimeStamp": 1706273033,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [
    0
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}