{
  "SaveName": "Kings_World",
  "WorldName": "294511",
  "GameModeIdx": 0,
  "GameVersion": 1018000,
  "IsHost": true,
  "HostID": 503619186,
  "GameType": 9,
  "LanGameStartServerTime": 1706857396,
  "RoomName": "Kings_World",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 3,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1707069325,
  "TotalPlayTime": 57568,
  "UpdateTime": 1707042669,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "G:\\MCLDownload\\Game\\zouxiaotao886@163.com\\LanGameHost\\Kings_World",
  "GUID": "LanGame-0039ea22-0ace-40ca-8795-61fd00443508",
  "WorldId": null,
  "RecentRoleID": "4656337243671408383",
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "RoleList": [
    {
      "avt": false,
      "Name": "TKL3",
      "CreatedTimeStamp": 1706857379,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [
    0
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}