{
  "SaveName": "Kings",
  "WorldName": "Kings",
  "GameModeIdx": 0,
  "GameVersion": 1018000,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1706857205,
  "TotalPlayTime": 5135,
  "UpdateTime": 0,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "G:\\MCLDownload\\Game\\zouxiaotao886@163.com\\MCGame\\Kings",
  "GUID": "MCGame-82d29aa4-fd0f-4609-b712-6e8e9d1590d6",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4649307278471778769"
    }
  ],
  "RoleList": [
    {
      "avt": false,
      "Name": "TKL3",
      "CreatedTimeStamp": 1706852063,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": null,
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}